@import "../utils/mixins.scss";

.home{
    @include column;
    margin-left: auto;
    margin-right: auto;
}
.form__label {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
    transform: translateY(0rem);
  }
.home>input{
    margin: 20px 0;
}